<!-- Navbar -->
<nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">

        <a href="{{url_for('home.dashboard')}}" class="navbar-brand">
            <span class="brand-text font-weight-light">Woody's Automotive</span>
        </a>
        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse order-3" id="navbarCollapse">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{{url_for('home.dashboard')}}" class="nav-link">Home</a>
                </li>
                {% if current_user['role'] == "Manager" %}
                    <li class="nav-item">
                        <a href="{{url_for('appointment.appointmentlocation')}}" class="nav-link">Appointment Location</a>
                    </li>
                {% endif %}
                {% if current_user['role'] == "Admin" %}
                    <li class="nav-item">
                        <a href="{{url_for('appointment.list')}}" class="nav-link">List Appointment</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{url_for('appointment.services')}}" class="nav-link">List Services</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{url_for('appointment.part')}}" class="nav-link">List Part</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{{url_for('home.logout')}}" class="nav-link">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
  <!-- /.navbar -->