{% extends "innerlayout.html" %}
{% block title %}Vehicle{% endblock %}
{% block content %}
<body class="hold-transition layout-top-nav">
  <div class="wrapper">
        <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
            </div><!-- /.container-fluid -->
        </section>
        
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 mt-2">
                        <div class="card">
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover text-nowrap">
                                    <thead>
                                        <tr>
                                            <th>Service Name</th>
                                            <th>Vehicle Type</th>
                                            <th>Part Name</th>
                                            <th>Price</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if rows and rows|length > 0 %}
                                            {% for row in rows %}
                                                <tr>
                                                    <td>{{row.Service_Name}}</td>
                                                    <td>{{row.Vehicle_type}}</td>
                                                    <td>{{row.Name}}</td>
                                                    <td>{{row.Price}}</td>
                                                    <td><a href="{{url_for('appointment.partedit')}}?serviceid={{row.Service_ID}}&vehicletype={{row.Vehicle_type}}&partid={{row.Part_Id}}"><i class="fa fa-edit"></i></a></td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr>
                                                <td colspan="100%" class="text-center">No results to show</td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div> 
                    </div>
                </div><!-- /.card-body -->
            </div>
        </section>
        <!-- /.content -->
    </div>
</body>
{% endblock %}